
@{
    ViewBag.Title = "NX";
}

<br/>
<ul>
    <li>@Html.ActionLink("NXtel dashboard", "NXtelDashboard", null, new { style = "font-size:14px" })</li>
    <li>@Html.ActionLink("NXtel FAQ", "NXtelInfo", null, new { style = "font-size:14px" })</li>
    <li>@Html.ActionLink("NXTP FAQ", "NXTPInfo", null, new { style = "font-size:14px" })</li>
</ul>


