/docs/~*.xlsx
/src/ZeusBak
/fonts/ZeusBak
/bin/NXtel.snx
*.suo
*.user
/server/packages
/server/NXtelServer/bin
/server/NXtelServer/obj
/server/Version/bin
/server/Version/obj
/server/NXtelData/bin
/server/NXtelData/obj

/demos/NXtelDemo2
/demos/NexTelDemo1
/server/.vs/config
/server/NXtelManager/bin
/server/NXtelManager/obj
/server/NXtelManager/App_Data/*.mdf
/server/NXtelManager/App_Data/*.ldf
/server/NXtelManager/App_Data/Settings.xml
