/docs/~*.xlsx
/src/ZeusBak
/fonts/ZeusBak
/build/ZeusBak
/getenv/bin/ZeusBak
/sfx/ZeusBak
/bin/NXtel.snx
*.suo
*.user
/server/packages
/server/NXtelServer/bin
/server/NXtelServer/obj
/server/Version/bin
/server/Version/obj
/server/NXtelData/bin
/server/NXtelData/obj
/server/ESPATTest/bin
/server/ESPATTest/obj
/server/TelesoftEncoder/bin
/server/TelesoftEncoder/obj
/server/TTConv/bin
/server/TTConv/obj
/server/Markdown/obj
/server/Markdown/bin
/demos/NXtelDemo2
/demos/NexTelDemo1
/server/.vs/config
/server/NXtelManager/bin
/server/NXtelManager/obj
/server/NXtelManager/App_Data/*.mdf
/server/NXtelManager/App_Data/*.ldf
/server/NXtelManager/App_Data/Settings.xml
/server/NXtelManager/Publish
/carousel/creator/csharp/NXtelCarousel/bin
/carousel/creator/csharp/NXtelCarousel/obj
/build/*.lnk
/docs/*.psd
/telesoft/Halls Of The Things (DL).tzx
/telesoft/Halls Of The Things (DL2).tzx
/telesoft/Halls Of The Things (DL3).tzx
/telesoft/Halls Of The Things (Original).tzx
/telesoft/Halls Of The Things.tzx
/tmp
/telesoft/HOTT (DL).tzx
/telesoft/HOTT.tzx
/telesoft/HOTT.tzx.zx7
/telesoft/zx7.exe
/telesoft/HOTT (Next).tzx
/telesoft/HOTT.z80
/telesoft/HOTT (DL).z80
/telesoft/HOTT (original).z80
/src\[ConcealSafe\]
/telesoft/HOTT (Telstar).z80
/server/NXtelServer/Publish
/server/NXtelManager/App_Data
/server/NXtelMonitor/bin
/server/NXtelMonitor/obj
/server/NXtelBbcBasic/bin
/server/NXtelBbcBasic/obj
/src/ZeusBak.zip
/server/ToLFCR/bin
/server/ToLFCR/obj
/bin/NXtel.cfg
/server/NXtelGeo/bin
/server/NXtelGeo/obj
/server/NXtelGeo/Publish
/server/NXtelLogImport/bin
/server/NXtelLogImport/obj
/docs/admin emails.txt
/telesoft/*.z80
/telesoft/*.sna
/server/NXStaticServer/Publish
/server/NXStaticServer/bin
/server/NXStaticServer/obj
/build/*.ps1
/build/zeustest.exe
/docs/registrations.txt
