@{
    Layout = null;
}
<div class="psa">
    <h3>Public Service Announcement</h3>
    <p>We are having difficulty with our email server, which is affecting account registrations, password confirmations and password resets.</p>
    <p>Sorry about that, we will be back in business soon.</p>
</div>
