<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <appSettings>
        <add key="StartServer_Test" value="C:\Users\robin\Documents\Visual Studio 2015\Projects\NXtel\server\NXtelServer\bin\Debug2\NXtelServerTest.exe;http://localhost:61111/Server/KeepAlive/e1d5da2140204f8d950cec2f2f2b2934"/>
        <add key="StartServer_Prod" value="C:\Users\robin\Documents\Visual Studio 2015\Projects\NXtel\server\NXtelServer\bin\Debug\NXtelServer.exe;http://localhost:61111/Server/KeepAlive/e1d5da2140204f8d950cec2f2f2b2934"/>
    </appSettings>
</configuration>
