<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <connectionStrings>
        <add name="NXTel" providerName="MySql.Data.MySqlClient" connectionString="server=50.62.209.48;port=3306;database=nxtel;uid=nxtel;password=pVh3r5_8;SslMode=none" />
        <!--<add name="NXTel-local" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;port=3306;database=nxtel;uid=nxtel;password=nxtel;SslMode=none" />-->
    </connectionStrings>
    <appSettings>
        <add key="PagesDir" value=""/>
        <add key="UpdateFeedMins" value="10" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.0.0" newVersion="3.6.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
