<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="ImportLogFile" value="C:\Users\robin\Documents\Visual Studio 2015\Projects\NXtel\tmp\logs\NXtelServerLog_Prod_002.txt"/>
    <add key="TimestampCutoff" value="2019-05-29 13:57:31"/>
    <add key="HashSalt" value="m8FYG8w5LZwV78tu"/>
    <add key="TimestampCutoff_Test" value="2019-05-29 13:57:31"/>
    <add key="TimestampCutoff_Prod" value="2019-05-29 13:57:41"/>
  </appSettings>
</configuration>
