body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*color: #999999;
    background-color: #222;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

table.edit {
    width: 100%;
}

table.edit textarea {
    width: 100%;
}

table.edit td.lbl {
    font-weight: bold;
}

table.edit td.data {
    width: 99%;
}

html.with-iframe, html.with-iframe body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#EditorWrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0px;
}