body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*color: #999999;
    background-color: #222;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

table.edit {
    width: 100%;
}

table.edit textarea {
    width: 100%;
}

table.edit td.lbl {
    font-weight: bold;
    white-space: nowrap;
}

span.lbl {
    font-weight: bold;
    white-space: nowrap;
    padding: 0 4px 0 4px;
}

input[type=checkbox].inline {
    position: relative;
    top: 2px;
}

table.edit td.data {
    width: 99%;
}

html.with-iframe, html.with-iframe body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#EditorWrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0px;
}

tr.ordered td {
    background-color: #eee;
    border-top: 2px white solid;
    border-bottom: 2px white solid;
    padding: 2px 3px;
    cursor: default;
}

tr.ordered td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

tr.ordered td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-right: 6px;
}

tr.ordered:hover td {
    background-color: #ddd;
}

tr:first-child>td>a.ordered-btn.up, tr:last-child>td>a.ordered-btn.down {
    visibility: hidden;
}

a.ordered-btn {
    background: url('/Content/Images/btn-delete.png') center center no-repeat;
    width: 16px;
    height: 16px;
    text-indent: -9999px;
    display: block;
}

a.ordered-btn.up {
    background-image: url('/Content/Images/btn-up.png');
}

a.ordered-btn.down {
    background-image: url('/Content/Images/btn-down.png');
}

a.ordered-btn.add {
    background-image: url('/Content/Images/btn-add.png');
}

a.ordered-btn.edit {
    background-image: url('/Content/Images/btn-edit.png');
}

a.ordered-btn.open {
    background-image: url('/Content/Images/btn-open.png');
}


a.ordered-btn:hover {
    background-image: url('/Content/Images/btn-delete-highlight.png');
}

a.ordered-btn.up:hover {
    background-image: url('/Content/Images/btn-up-highlight.png');
}

a.ordered-btn.down:hover {
    background-image: url('/Content/Images/btn-down-highlight.png');
}

a.ordered-btn.add:hover {
    background-image: url('/Content/Images/btn-add-highlight.png');
}

a.ordered-btn.edit:hover {
    background-image: url('/Content/Images/btn-edit-highlight.png');
}

a.ordered-btn.open:hover {
    background-image: url('/Content/Images/btn-open-highlight.png');
}

