body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*color: #999999;
    background-color: #222;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

table.edit {
    width: 100%;
}

table.edit textarea {
    width: 100%;
}

table.edit td.lbl {
    font-weight: bold;
    white-space: nowrap;
    padding-right:10px;
}

span.lbl {
    font-weight: bold;
    white-space: nowrap;
    padding: 0 4px 0 4px;
}

input[type=checkbox].inline {
    position: relative;
    top: 2px;
}

table.edit td.data {
    width: 99%;
}

html.with-iframe, html.with-iframe body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#EditorWrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0px;
}

tr.ordered td {
    background-color: #eee;
    border-top: 2px white solid;
    border-bottom: 2px white solid;
    padding: 2px 3px;
    cursor: default;
}

tr.ordered td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

tr.ordered td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-right: 6px;
}

tr.ordered:hover td {
    background-color: #ddd;
}

tr:first-child>td>a.ordered-btn.up, tr:last-child>td>a.ordered-btn.down {
    visibility: hidden;
}

a.ordered-btn,
input[type=submit].btn.ordered-btn {
    background: url('/Content/Images/btn-delete.png') center center no-repeat;
    width: 16px;
    height: 16px;
    text-indent: -9999px;
    display: block;
}

a.ordered-btn.up,
input[type=submit].btn.ordered-btn.up {
    background-image: url('/Content/Images/btn-up.png');
}

a.ordered-btn.down,
input[type=submit].btn.ordered-btn.down {
    background-image: url('/Content/Images/btn-down.png');
}

a.ordered-btn.add,
input[type=submit].btn.ordered-btn.add {
    background-image: url('/Content/Images/btn-add.png');
}

a.ordered-btn.edit,
input[type=submit].btn.ordered-btn.edit {
    background-image: url('/Content/Images/btn-edit.png');
}

a.ordered-btn.open,
input[type=submit].btn.ordered-btn.open {
    background-image: url('/Content/Images/btn-open.png');
}

a.ordered-btn.check,
input[type=submit].btn.ordered-btn.check {
    background-image: url('/Content/Images/btn-check.png');
}

a.ordered-btn:hover,
input[type=submit].btn.ordered-btn:hover {
    background-image: url('/Content/Images/btn-delete-highlight.png');
}

a.ordered-btn.up:hover,
input[type=submit].btn.ordered-btn.up:hover {
    background-image: url('/Content/Images/btn-up-highlight.png');
}

a.ordered-btn.down:hover,
input[type=submit].btn.ordered-btn.down:hover {
    background-image: url('/Content/Images/btn-down-highlight.png');
}

a.ordered-btn.add:hover,
input[type=submit].btn.ordered-btn.add:hover {
    background-image: url('/Content/Images/btn-add-highlight.png');
}

a.ordered-btn.edit:hover,
input[type=submit].btn.ordered-btn.edit:hover {
    background-image: url('/Content/Images/btn-edit-highlight.png');
}

a.ordered-btn.open:hover,
input[type=submit].btn.ordered-btn.open:hover {
    background-image: url('/Content/Images/btn-open-highlight.png');
}

a.ordered-btn.check:hover,
input[type=submit].btn.ordered-btn.check:hover {
    background-image: url('/Content/Images/btn-check-highlight.png');
}

table.pad-right th, table.pad-right td {
    padding-right: 10px;
}

.dataTables_wrapper .col-sm-5, 
.dataTables_wrapper .col-sm-6, 
.dataTables_wrapper .col-sm-7 {
    width: unset; 
}

table.dataTable thead tr .sorting::after,
table.dataTable thead tr .sorting_asc::after,
table.dataTable thead tr .sorting_desc::after,
table.dataTable thead tr .sorting_asc_disabled::after,
table.dataTable thead tr .sorting_desc_disabled::after {
    top: 0px;
}

#PageList_wrapper>div.row:first-child div {
    padding-left: 10px;
    padding-right: 0;
}

#PageList_filter input[type=search] {
    width: 100px;
}

#PageList_length select {
    width: 65px;
}

.user-permission {
    max-width: 80px;
    text-align: right;
    padding: 3px 6px;
    height: auto;
}

#ManageUser td {
    padding-bottom: 4px;
}

#ManageUser table.inner td {
    line-height: 18px;
    padding-bottom: 0;
}

#ManageUser td.lbl {
    padding-right: 20px;
}

#ManageUser td.data {
    font-weight: bold;
    padding-right: 20px;
}

.ordered-btn.no-rows {
    top: 9px !important;
}

.ordered-btn.some-rows {
    top: -7.5px !important;
}

.validation-summary-errors ul {
    list-style-type: none;
    padding-left: 0;
    font-weight: bold;
}

.lock {
    background: url('/Content/Images/unlocked.png') center center no-repeat;
    width: 16px;
    height: 16px;
    text-indent: -9999px;
    display: block;
    padding-left: 35px;
}

.lock.locked {
    background-image: url('/Content/Images/locked.png');
}

.lock.large {
    background-image: url('/Content/Images/unlocked_26.png');
    display: inline-block;
    width: 31px;
    height: 26px;
    margin-left: 2px;
}

.lock.large.locked {
    background-image: url('/Content/Images/locked_26.png');
    width: 20px;
}

@media screen and (max-width: 767px) {
    div.dataTables_wrapper div.dataTables_zone,
    div.dataTables_wrapper div.dataTables_primary {
        text-align: center;
    }
}
