@{
    ViewBag.Title = "Confirm Email";
    ViewBag.HideHeader = true;
}

<h1>@ViewBag.Title</h1>
<div>
    <p>
        Thank you for confirming your email. Please <a id="loginLink" href="~/Account/Login">click here to log in</a>.
    </p>
</div>
