@{
    ViewBag.Title = "Verify e-mail";
    ViewBag.NotLoggedID = true;
}

<h1>@ViewBag.Title</h1>
<p class="text-info">Please check your email and confirm your email address.</p>
<p class="text-info">Emails from @NXtelData.Options.ProductName may disappear into your spam folder, so please check there if you haven't received an email.</p>