@{
    ViewBag.Title = "Reset password confirmation";
    ViewBag.HideHeader = true;
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Your password has been reset. Please <a id="loginLink" href="~/Account/Login">click here to log in</a>.
    </p>
</div>
